<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
    </script>

    <style>
      body {
      }

      .all-pokemon-container > div {
        border: 1px solid gold;
        padding: 20px;
        width: 400px;
      }

      .all-pokemon-container > div:hover {
        background-color: gold;
        color: black;
      }

      .all-pokemon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        color: gold;
        font-size: 40px;
      }

      img {
        height: 100px;
        width: 100px;
      }

      # .all-pokemon-container {
      #   display: grid;
      #   grid-template-columns: repeat(5, 1fr);
      #   width: 100%;
      #   height: 100%;
      # }
    </style>
  </head>

  <body>
    <header>
      <img src="./assets/pokeball.svg" alt="pokedex">
    </header>

    <%= yield %>
  </body>
</html>
