<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
    </script>

    <style>
      # body {
      # }

      # .pokemon-entries-container > div {
      #   border: 1px solid gold;
      #   padding: 20px;
      #   width: 400px;
      # }

      # .pokemon-entries-container > div:hover {
      #   background-color: gold;
      #   color: black;
      # }

      # .pokemon-entries-container {
      #   display: flex;
      #   justify-content: center;
      #   align-items: center;
      #   flex-direction: column;
      #   background-color: black;
      #   color: gold;
      #   font-size: 40px;
      # }

      # img {
      #   height: 100px;
      #   width: 100px;
      # }

      # .pokemon-entries-container {
      #   display: grid;
      #   grid-template-columns: repeat(5, 1fr);
      #   width: 100%;
      #   height: 100%;
      # }
      
      # root has top padding in application.scss
      body {
        background-color: black;
      }

      .pokemon-entries-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      }

      .pokemon-entry {
        border: 1px solid white;
      }
    </style>
  </head>

  <body>
    <header>
      <img src="./assets/pokeball.svg" alt="pokedex">
    </header>

    <%= yield %>
  </body>
</html>
